/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	margin: 4%;
}
.topPage{

	display: flex;
	width: 100%;
}
nav {
	display: flex;
	width: 100%;
}
nav a {
	padding: 0% 4%;
	display: flex;
}
nav #logo{
	display: flex;
}
header{
	padding-top: 2%;	
}

h1 {
	font-size:600%;
	display: flex;
	width: 70%;
	text-align:center;
	margin-left: 10%;
	
}
.headBut{
	display: flex;
	text-align:center;
	width:35%;
	margin-left: 10%;
}

#button{
	display: flex;
	font-size: 110%;
	width: 100%;
}

 header #snippet{
	display: flex;
	margin-left: 80px;
	margin-bottom: 10%;
	margin-top: 4%;
}

 #snippet img{
	width:120%;
}

hr {
	color:black;
}

.section1{
	display: flex;
	background-color: red;
	max-width: 100%;
}

.section1 h2{
	display: flex;
	
}

.section1 p{
	display: flex;

} 
.allFeatures{
	display: flex;
	
	max-width: 40%;
}

.allAbout{
	display: flex;
	
	max-width: 40%;
}
#accent{
	display: flex;
	width:100%;
}
.middle-img{
	display: flex;
	width: 100%;
}

.allServices{
	display: flex;
	width:33%;
}
.allProducts{
	display: flex;
	width:33%;
}
.allVisions{
	display: flex;
	width:33%;
}

.section2 .services{
	display: flex;
}


.section2 .products{
	display: flex;

}

.section2 .vision{
	display: flex;

}
.contacts{
	display: flex;
	width:5%;
	
}

.contacts h2{
	display: flex;
	

}

.contacts p{
	display: flex;
	width:202%;
}

footer{
	display: flex;
	margin-left: 40%;
	margin-bottom: 5%;
	

}
